/* 
 * @package openweather
 * @author ИП Бреский Дмитрий Игоревич <dimabresky@gmail.com>
 */

.openweather {
    max-width: 300px;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
}

.openweather__temperature,
.openweather__icon,
.openweather__description {
    display: inline-block;
}

.openweather__temperature,
.openweather__icon {
    float: left;
}

.openweather__description {
    float: right;
    padding-top: 20px;
}

.openweather__temperature {
    padding-top: 40px;
}

.clear {
    clear: both;
}